// Grid setup
@import "susy";

$total-columns: 12;
$column-width: 30px;
$gutter-width: 30px;
$grid-padding: $gutter-width;

// Dependencies
@import "util/reset";
@import "util/mixin";
@import "util/color";
@import "util/type";

// Move later
@import "util/scratch";

// Clearfix
%cf:before,
%cf:after {
    content: " ";
    display: table;
}

%cf:after { clear: both; }
%cf { *zoom: 1; }

.butt {
    display: block;
}

// Document
* {
    @include prefixer(box-sizing, border-box, webkit moz o spec);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
html {}
html, body {
    font-family: $header-font;
    background: $background;
    color: darken($grey, 30%);
    height: 100%;
}

.body {
}

.wrap {
    min-height: 100%;
}

// Global Header
@import "parts/header";

main {
    @extend %cf;
    position: relative;
    display: block;
}

// Main
.main {
    @include container;

    .user-container {
        @include span-columns(6, 12);
        @include breakpoint(baby-bear) { @include span-columns(12 omega, 12); }
        margin-bottom: 60px;
        &:last-of-type {
            @include span-columns(6 omega, 12);
            @include breakpoint(baby-bear) { @include span-columns(12 omega, 12); }
        }
    }

    input[type="submit"] {
        display: none;
    }
}

// Home
@import "parts/home";

// Query
@import "parts/query";

// Global footer
@import "parts/footer";



