%form{:id => "query-form", :method => "post", :action => "/"}
  .query
    %span Does
    %input{:type => "text", :id => "user_a", :name => "user_a", :placeholder => "@username", :size => "10"}
    %span follow
    %input{:type => "text", :id => "user_b", :name => "user_b", :placeholder => "@username", :size => "10"}
    %span ?
    %input{:type => "submit", :id => "query-form-submit", :value => "Find out"}
  .verdict
