%section{:class => "demo"}
%section{:class => "intro"}
  %h2 Who's friends with who on Twitter?
  %p
    Simply append the URL with the names of the two users you'd like to query and
    %strong bff
    will tell you whether they're friends or not.
  %a{:href => "#{base_url}/@benashman/@jack", :class => "try-button"} Show me how
