!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title Fwiends
    %meta{:name => "description", :content => ""}
    %meta{:name => "author", :content => "Ben Ashman"}
    %link{:rel => "stylesheet", :href => "/css/main.css"}
  %body
    %header{:class => "site-header", :role => "banner"}
      %h1 Fwiends
    %main{:class => "main", :id => "main", :role => "main"}
      =yield
    %footer{:class => "site-footer", :role => "contentinfo"}

