.site-header {
    @include container;
    padding: 120px 30px 60px 30px;

    .logo {
        @include span-columns(12 omega, 12);

        h1 {
            @include font-size(1.9);
            display: inline-block;
            background: #FFFFFF;
            color: $background;
            font-family: $header-font;
            letter-spacing: 10px;
            padding: 10px 9px 10px 15px;
            border-radius: 2px;
            &:after {
                @include font-size(1.5);
                content: "♥";
                color: $highlight;
            }

            &:hover {
                &:after {
                    color: #d25251;
                }
            }
        }
    }
}
