.site-header {
    background: $white;
    width: 100%;
    margin-bottom: 60px;

    .header-inner {
        @include container;
        padding: 30px;

        .logo {
            @include span-columns(12 omega, 12);

            h1 {
                @include font-size(2.2);
                text-align: center;
                color: $background;
                font-family: $header-font;
                font-style: italic;
                letter-spacing: 2px;
                &:after {
                    @include font-size(.6);
                    position: relative;
                    content: "♥";
                    left: -5px;
                    font-style: normal;
                    color: $twitter-blue;
                }

                &:hover {
                    &:after {
                        color: #d25251;
                    }
                }

                a {
                    color: $background;
                }
            }
        }
    }
}
